openapi: 3.0.0

info:
    version: 1.0.0
    title: Product service - Lotus Farm
    description: Design, description of Lotus Farm API

servers:
    - url: https://product.lotusfarm.xyz/api/v1
    - url: http://localhost:3000/api/v1

security:
    - BasicAuth: []
    - BearerAuth: []

tags:
    - name: categories
      description: Operations about categoies

    - name: category points
      description: Operations about category points

    - name: categories sub1
      description: Operations about categories sub1

    - name: category sub1 communicates
      description: Operations about category sub1 communicates

    - name: category sub1 points
      description: Operations about category sub1 points

    - name: category sub1 information specials
      description: Operations about category information specials

    - name: categories sub2
      description: Operations about categories sub2

    - name: category sub2 points
      description: Operations about category sub2 points

    - name: hashtags
      description: Operations about hashtags

    - name: information specials
      description: Operations about information specials

    - name: information special values
      description: Operations about information special values

    - name: post products
      description: Operations about post products

    - name: post product hashtags
      description: Operations about post product hashtags

    - name: post product images
      description: Operations about post product images

    - name: post product information specials
      description: Operations about post product information specials

    - name: post product processes
      description: Operations about post product processes

    - name: post product reacts
      description: Operations about post product reacts

    - name: post product units
      description: Operations about post product units

    - name: processes
      description: Operations about processes

    - name: process images
      description: Operations about process images

    - name: process hashtags
      description: Operations about process hashtags

paths:
    /categories:
        get:
            tags:
                - 'categories'
            description: Returns a list of categories
            parameters:
                #  ----- Added line  ------------------------------------------
                - $ref: '#/components/parameters/Page'
                - $ref: '#/components/parameters/PageTake'
                - $ref: '#/components/parameters/PageSkip'
                - $ref: '#/components/parameters/PageOrder'
                - $ref: '#/components/parameters/PageSelect'
                - $ref: '#/components/parameters/PageWhere'
                - $ref: '#/components/parameters/PageRelations'
                #  ---- /Added line  ------------------------------------------
            responses:
                '200':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/200CategoryArrayResponse'
                    #  ---- /Added line  ----------------------------------------

                '400':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/401ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '404':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/404ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '500':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/500ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

        post:
            tags:
                - 'categories'
            description: Create new a category
            requestBody:
                #  ----- Added line  ------------------------------------------
                $ref: '#/components/requestBodies/CategoryRequestBody'
                #  ---- /Added line  ------------------------------------------
            responses:
                '200':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/200CategoryResponse'
                    #  ---- /Added line  ----------------------------------------

                '400':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/401ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '404':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/404ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '500':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/500ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

    /categories/filter/advance:
        get:
            tags:
                - 'categories'
            description: Returns a list of categories for filter page
            parameters:
                #  ----- Added line  ------------------------------------------
                - $ref: '#/components/parameters/Page'
                - $ref: '#/components/parameters/PageTake'
                - $ref: '#/components/parameters/PageSkip'
                - $ref: '#/components/parameters/PageOrder'
                #  ---- /Added line  ------------------------------------------
            responses:
                '200':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/200CategoryArrayResponse'
                    #  ---- /Added line  ----------------------------------------

                '400':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/401ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '404':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/404ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '500':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/500ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

    /categories/modal-create/base:
        get:
            tags:
                - 'categories'
            description: Returns a list of categories for modal create/update post product
            parameters:
                #  ----- Added line  ------------------------------------------
                - $ref: '#/components/parameters/Page'
                - $ref: '#/components/parameters/PageTake'
                - $ref: '#/components/parameters/PageSkip'
                - $ref: '#/components/parameters/PageOrder'
                #  ---- /Added line  ------------------------------------------
            responses:
                '200':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/200CategoryArrayResponse'
                    #  ---- /Added line  ----------------------------------------

                '400':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/401ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '404':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/404ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '500':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/500ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

    /categories/{category-id}:
        get:
            tags:
                - 'categories'
            description: Returns a category follow category id
            parameters:
                #  ----- Added line  ------------------------------------------
                - $ref: '#/components/parameters/CategoryId'
                - $ref: '#/components/parameters/PageSelect'
                - $ref: '#/components/parameters/PageRelations'
                #  ---- /Added line  ------------------------------------------
            responses:
                '200':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/200CategoryResponse'
                    #  ---- /Added line  ----------------------------------------

                '400':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/401ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '404':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/404ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '500':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/500ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

        put:
            tags:
                - 'categories'
            description: Replace a category follow category id
            requestBody:
                #  ----- Added line  ------------------------------------------
                $ref: '#/components/requestBodies/CategoryRequestBody'
                #  ---- /Added line  ------------------------------------------
            parameters:
                #  ----- Added line  ------------------------------------------
                - $ref: '#/components/parameters/CategoryId'
                #  ---- /Added line  ------------------------------------------
            responses:
                '200':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/200CategoryResponse'
                    #  ---- /Added line  ----------------------------------------

                '400':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/401ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '404':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/404ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '500':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/500ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

        patch:
            tags:
                - 'categories'
            description: Update some fields of category follow category id
            requestBody:
                #  ----- Added line  ------------------------------------------
                $ref: '#/components/requestBodies/CategoryRequestBody'
                #  ---- /Added line  ------------------------------------------
            parameters:
                #  ----- Added line  ------------------------------------------
                - $ref: '#/components/parameters/CategoryId'
                #  ---- /Added line  ------------------------------------------
            responses:
                '200':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/200CategoryResponse'
                    #  ---- /Added line  ----------------------------------------

                '400':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/401ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '404':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/404ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '500':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/500ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

        delete:
            tags:
                - 'categories'
            description: Delete a category follow category id
            parameters:
                #  ----- Added line  ------------------------------------------
                - $ref: '#/components/parameters/CategoryId'
                #  ---- /Added line  ------------------------------------------
            responses:
                '200':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/200CategoryResponse'
                    #  ---- /Added line  ----------------------------------------

                '400':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/401ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '404':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/404ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '500':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/500ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

    /category-points:
        get:
            tags:
                - 'category points'
            description: Returns a list of category points
            parameters:
                #  ----- Added line  ------------------------------------------
                - $ref: '#/components/parameters/Page'
                - $ref: '#/components/parameters/PageTake'
                - $ref: '#/components/parameters/PageSkip'
                - $ref: '#/components/parameters/PageOrder'
                - $ref: '#/components/parameters/PageSelect'
                - $ref: '#/components/parameters/PageWhere'
                - $ref: '#/components/parameters/PageRelations'
                #  ---- /Added line  ------------------------------------------
            responses:
                '200':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/200CategoryPointArrayResponse'
                    #  ---- /Added line  ----------------------------------------

                '400':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/401ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '404':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/404ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '500':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/500ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

        post:
            tags:
                - 'category points'
            description: Create new a category point
            requestBody:
                #  ----- Added line  ------------------------------------------
                $ref: '#/components/requestBodies/CategoryPointRequestBody'
                #  ---- /Added line  ------------------------------------------
            responses:
                '200':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/200CategoryPointResponse'
                    #  ---- /Added line  ----------------------------------------

                '400':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/401ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '404':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/404ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '500':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/500ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

    /category-points/{category-point-id}:
        get:
            tags:
                - 'category points'
            description: Returns a category point follow category point id
            parameters:
                #  ----- Added line  ------------------------------------------
                - $ref: '#/components/parameters/CategoryPointId'
                - $ref: '#/components/parameters/PageSelect'
                - $ref: '#/components/parameters/PageRelations'
                #  ---- /Added line  ------------------------------------------
            responses:
                '200':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/200CategoryPointResponse'
                    #  ---- /Added line  ----------------------------------------

                '400':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/401ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '404':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/404ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '500':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/500ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

        put:
            tags:
                - 'category points'
            description: Replace a category point follow category point id
            requestBody:
                #  ----- Added line  ------------------------------------------
                $ref: '#/components/requestBodies/CategoryPointRequestBody'
                #  ---- /Added line  ------------------------------------------
            parameters:
                #  ----- Added line  ------------------------------------------
                - $ref: '#/components/parameters/CategoryPointId'
                #  ---- /Added line  ------------------------------------------
            responses:
                '200':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/200CategoryPointResponse'
                    #  ---- /Added line  ----------------------------------------

                '400':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/401ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '404':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/404ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '500':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/500ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

        patch:
            tags:
                - 'category points'
            description: Update some fields of category point follow category point id
            requestBody:
                #  ----- Added line  ------------------------------------------
                $ref: '#/components/requestBodies/CategoryPointRequestBody'
                #  ---- /Added line  ------------------------------------------
            parameters:
                #  ----- Added line  ------------------------------------------
                - $ref: '#/components/parameters/CategoryPointId'
                #  ---- /Added line  ------------------------------------------
            responses:
                '200':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/200CategoryPointResponse'
                    #  ---- /Added line  ----------------------------------------

                '400':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/401ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '404':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/404ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '500':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/500ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

        delete:
            tags:
                - 'category points'
            description: Delete a category point follow category point id
            parameters:
                #  ----- Added line  ------------------------------------------
                - $ref: '#/components/parameters/CategoryPointId'
                #  ---- /Added line  ------------------------------------------
            responses:
                '200':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/200CategoryPointResponse'
                    #  ---- /Added line  ----------------------------------------

                '400':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/401ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '404':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/404ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '500':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/500ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

    /categories-sub1:
        get:
            tags:
                - 'categories sub1'
            description: Returns a list of categories sub1
            parameters:
                #  ----- Added line  ------------------------------------------
                - $ref: '#/components/parameters/Page'
                - $ref: '#/components/parameters/PageTake'
                - $ref: '#/components/parameters/PageSkip'
                - $ref: '#/components/parameters/PageOrder'
                - $ref: '#/components/parameters/PageSelect'
                - $ref: '#/components/parameters/PageWhere'
                - $ref: '#/components/parameters/PageRelations'
                #  ---- /Added line  ------------------------------------------
            responses:
                '200':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/200CategorySub1ArrayResponse'
                    #  ---- /Added line  ----------------------------------------

                '400':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/401ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '404':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/404ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '500':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/500ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

        post:
            tags:
                - 'categories sub1'
            description: Create new a category sub1
            requestBody:
                #  ----- Added line  ------------------------------------------
                $ref: '#/components/requestBodies/CategorySub1RequestBody'
                #  ---- /Added line  ------------------------------------------
            responses:
                '200':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/200CategorySub1Response'
                    #  ---- /Added line  ----------------------------------------

                '400':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/401ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '404':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/404ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '500':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/500ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

    /categories-sub1/{category-sub1-id}:
        get:
            tags:
                - 'categories sub1'
            description: Returns a category sub1 follow category sub1 id
            parameters:
                #  ----- Added line  ------------------------------------------
                - $ref: '#/components/parameters/CategorySub1Id'
                - $ref: '#/components/parameters/PageSelect'
                - $ref: '#/components/parameters/PageRelations'
                #  ---- /Added line  ------------------------------------------
            responses:
                '200':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/200CategorySub1ArrayResponse'
                    #  ---- /Added line  ----------------------------------------

                '400':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/401ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '404':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/404ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '500':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/500ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

        put:
            tags:
                - 'categories sub1'
            description: Replace a category sub1 follow category sub1 id
            requestBody:
                #  ----- Added line  ------------------------------------------
                $ref: '#/components/requestBodies/CategorySub1RequestBody'
                #  ---- /Added line  ------------------------------------------
            parameters:
                #  ----- Added line  ------------------------------------------
                - $ref: '#/components/parameters/CategorySub1Id'
                #  ---- /Added line  ------------------------------------------
            responses:
                '200':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/200CategorySub1Response'
                    #  ---- /Added line  ----------------------------------------

                '400':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/401ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '404':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/404ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '500':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/500ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

        patch:
            tags:
                - 'categories sub1'
            description: Update some fields of category sub1 follow category sub1 id
            requestBody:
                #  ----- Added line  ------------------------------------------
                $ref: '#/components/requestBodies/CategorySub1RequestBody'
                #  ---- /Added line  ------------------------------------------
            parameters:
                #  ----- Added line  ------------------------------------------
                - $ref: '#/components/parameters/CategorySub1Id'
                #  ---- /Added line  ------------------------------------------
            responses:
                '200':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/200CategorySub1Response'
                    #  ---- /Added line  ----------------------------------------

                '400':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/401ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '404':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/404ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '500':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/500ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

        delete:
            tags:
                - 'categories sub1'
            description: Delete a category sub1 follow category sub1 id
            parameters:
                #  ----- Added line  ------------------------------------------
                - $ref: '#/components/parameters/CategorySub1Id'
                #  ---- /Added line  ------------------------------------------
            responses:
                '200':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/200CategorySub1Response'
                    #  ---- /Added line  ----------------------------------------

                '400':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/401ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '404':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/404ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '500':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/500ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

    /categories-sub1/{category-sub1-id}/suggestion:
        get:
            tags:
                - 'categories sub1'
            description: Returns information special, term, communicate follow category sub1 id
            parameters:
                #  ----- Added line  ------------------------------------------
                - $ref: '#/components/parameters/CategorySub1Id'
                - $ref: '#/components/parameters/PageSelect'
                - $ref: '#/components/parameters/PageRelations'
                #  ---- /Added line  ------------------------------------------
            responses:
                '200':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/200CategorySub1DetailResponse'
                    #  ---- /Added line  ----------------------------------------

                '400':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/401ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '404':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/404ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '500':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/500ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

    /categories-sub1/{category-id}:
        get:
            tags:
                - 'categories sub1'
            description: Returns a list of category sub1 follow category id
            parameters:
                #  ----- Added line  ------------------------------------------
                - $ref: '#/components/parameters/CategoryId'
                - $ref: '#/components/parameters/PageSelect'
                - $ref: '#/components/parameters/PageRelations'
                #  ---- /Added line  ------------------------------------------
            responses:
                '200':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/200CategorySub1ArrayResponse'
                    #  ---- /Added line  ----------------------------------------

                '400':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/401ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '404':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/404ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '500':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/500ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

    /category-sub1-communicates:
        get:
            tags:
                - 'category sub1 communicates'
            description: Returns a list of category sub1 communicates
            parameters:
                #  ----- Added line  ------------------------------------------
                - $ref: '#/components/parameters/Page'
                - $ref: '#/components/parameters/PageTake'
                - $ref: '#/components/parameters/PageSkip'
                - $ref: '#/components/parameters/PageOrder'
                - $ref: '#/components/parameters/PageSelect'
                - $ref: '#/components/parameters/PageWhere'
                - $ref: '#/components/parameters/PageRelations'
                #  ---- /Added line  ------------------------------------------
            responses:
                '200':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/200CategorySub1CommunicateArrayResponse'
                    #  ---- /Added line  ----------------------------------------

                '400':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/401ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '404':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/404ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '500':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/500ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

        post:
            tags:
                - 'category sub1 communicates'
            description: Create new a category sub1 communicates
            requestBody:
                #  ----- Added line  ------------------------------------------
                $ref: '#/components/requestBodies/CategorySub1CommunicateRequestBody'
                #  ---- /Added line  ------------------------------------------
            responses:
                '200':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/200CategorySub1CommunicateResponse'
                    #  ---- /Added line  ----------------------------------------

                '400':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/401ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '404':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/404ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '500':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/500ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

    /category-sub1-communicates/{category-sub1-communicate-id}:
        get:
            tags:
                - 'category sub1 communicates'
            description: Returns a category sub1 communicate follow category sub1 communicate id
            parameters:
                #  ----- Added line  ------------------------------------------
                - $ref: '#/components/parameters/CategorySub1CommunicateId'
                - $ref: '#/components/parameters/PageSelect'
                - $ref: '#/components/parameters/PageRelations'
                #  ---- /Added line  ------------------------------------------
            responses:
                '200':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/200CategorySub1CommunicateResponse'
                    #  ---- /Added line  ----------------------------------------

                '400':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/401ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '404':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/404ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '500':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/500ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

        put:
            tags:
                - 'category sub1 communicates'
            description: Replace a category sub1 communicate follow category sub1 communicate id
            requestBody:
                #  ----- Added line  ------------------------------------------
                $ref: '#/components/requestBodies/CategorySub1CommunicateRequestBody'
                #  ---- /Added line  ------------------------------------------
            parameters:
                #  ----- Added line  ------------------------------------------
                - $ref: '#/components/parameters/CategorySub1CommunicateId'
                #  ---- /Added line  ------------------------------------------
            responses:
                '200':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/200CategorySub1CommunicateResponse'
                    #  ---- /Added line  ----------------------------------------

                '400':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/401ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '404':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/404ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '500':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/500ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

        patch:
            tags:
                - 'category sub1 communicates'
            description: Update some fields of category sub1 communicate follow category sub1 communicate id
            requestBody:
                #  ----- Added line  ------------------------------------------
                $ref: '#/components/requestBodies/CategorySub1CommunicateRequestBody'
                #  ---- /Added line  ------------------------------------------
            parameters:
                #  ----- Added line  ------------------------------------------
                - $ref: '#/components/parameters/CategorySub1CommunicateId'
                #  ---- /Added line  ------------------------------------------
            responses:
                '200':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/200CategorySub1CommunicateResponse'
                    #  ---- /Added line  ----------------------------------------

                '400':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/401ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '404':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/404ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '500':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/500ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

        delete:
            tags:
                - 'category sub1 communicates'
            description: Delete a category sub1 communicate follow category sub1 communicate id
            parameters:
                #  ----- Added line  ------------------------------------------
                - $ref: '#/components/parameters/CategorySub1CommunicateId'
                #  ---- /Added line  ------------------------------------------
            responses:
                '200':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/200CategorySub1CommunicateResponse'
                    #  ---- /Added line  ----------------------------------------

                '400':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/401ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '404':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/404ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '500':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/500ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

    /category-sub1-information-specials:
        get:
            tags:
                - 'category sub1 information specials'
            description: Returns a list of category sub1 information specials
            parameters:
                #  ----- Added line  ------------------------------------------
                - $ref: '#/components/parameters/Page'
                - $ref: '#/components/parameters/PageTake'
                - $ref: '#/components/parameters/PageSkip'
                - $ref: '#/components/parameters/PageOrder'
                - $ref: '#/components/parameters/PageSelect'
                - $ref: '#/components/parameters/PageWhere'
                - $ref: '#/components/parameters/PageRelations'
                #  ---- /Added line  ------------------------------------------
            responses:
                '200':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/200CategorySub1InformationSpecialArrayResponse'
                    #  ---- /Added line  ----------------------------------------

                '400':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/401ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '404':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/404ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '500':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/500ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

        post:
            tags:
                - 'category sub1 information specials'
            description: Create new a category sub1 communicates
            requestBody:
                #  ----- Added line  ------------------------------------------
                $ref: '#/components/requestBodies/CategorySub1InformationSpecialRequestBody'
                #  ---- /Added line  ------------------------------------------
            responses:
                '200':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/200CategorySub1CommunicateResponse'
                    #  ---- /Added line  ----------------------------------------

                '400':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/401ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '404':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/404ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '500':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/500ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

    /category-sub1-information-specials/{category-sub1-information-special-id}:
        get:
            tags:
                - 'category sub1 information specials'
            description: Returns a category sub1 information special follow category sub1 information special id
            parameters:
                #  ----- Added line  ------------------------------------------
                - $ref: '#/components/parameters/CategorySub1InformationSpecialId'
                - $ref: '#/components/parameters/PageSelect'
                - $ref: '#/components/parameters/PageRelations'
                #  ---- /Added line  ------------------------------------------
            responses:
                '200':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/200CategorySub1InformationSpecialResponse'
                    #  ---- /Added line  ----------------------------------------

                '400':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/401ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '404':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/404ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '500':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/500ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

        put:
            tags:
                - 'category sub1 information specials'
            description: Replace a category sub1 information special follow category sub1 information special id
            requestBody:
                #  ----- Added line  ------------------------------------------
                $ref: '#/components/requestBodies/CategorySub1InformationSpecialRequestBody'
                #  ---- /Added line  ------------------------------------------
            parameters:
                #  ----- Added line  ------------------------------------------
                - $ref: '#/components/parameters/CategorySub1InformationSpecialId'
                #  ---- /Added line  ------------------------------------------
            responses:
                '200':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/200CategorySub1InformationSpecialResponse'
                    #  ---- /Added line  ----------------------------------------

                '400':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/401ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '404':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/404ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '500':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/500ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

        patch:
            tags:
                - 'category sub1 information specials'
            description: Update some fields of category sub1 informationSpecial follow category sub1 informationSpecial id
            requestBody:
                #  ----- Added line  ------------------------------------------
                $ref: '#/components/requestBodies/CategorySub1InformationSpecialRequestBody'
                #  ---- /Added line  ------------------------------------------
            parameters:
                #  ----- Added line  ------------------------------------------
                - $ref: '#/components/parameters/CategorySub1InformationSpecialId'
                #  ---- /Added line  ------------------------------------------
            responses:
                '200':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/200CategorySub1InformationSpecialResponse'
                    #  ---- /Added line  ----------------------------------------

                '400':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/401ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '404':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/404ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '500':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/500ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

        delete:
            tags:
                - 'category sub1 information specials'
            description: Delete a category sub1 communicate follow category sub1 communicate id
            parameters:
                #  ----- Added line  ------------------------------------------
                - $ref: '#/components/parameters/CategorySub1InformationSpecialId'
                #  ---- /Added line  ------------------------------------------
            responses:
                '200':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/200CategorySub1InformationSpecialResponse'
                    #  ---- /Added line  ----------------------------------------

                '400':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/401ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '404':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/404ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '500':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/500ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

    /category-sub1-points:
        get:
            tags:
                - 'category sub1 points'
            description: Returns a list of category sub1 points
            parameters:
                #  ----- Added line  ------------------------------------------
                - $ref: '#/components/parameters/Page'
                - $ref: '#/components/parameters/PageTake'
                - $ref: '#/components/parameters/PageSkip'
                - $ref: '#/components/parameters/PageOrder'
                - $ref: '#/components/parameters/PageSelect'
                - $ref: '#/components/parameters/PageWhere'
                - $ref: '#/components/parameters/PageRelations'
                #  ---- /Added line  ------------------------------------------
            responses:
                '200':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/200CategorySub1PointArrayResponse'
                    #  ---- /Added line  ----------------------------------------

                '400':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/401ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '404':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/404ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '500':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/500ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

        post:
            tags:
                - 'category sub1 points'
            description: Create new a category sub1 point
            requestBody:
                #  ----- Added line  ------------------------------------------
                $ref: '#/components/requestBodies/CategorySub1PointRequestBody'
                #  ---- /Added line  ------------------------------------------
            responses:
                '200':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/200CategorySub1PointResponse'
                    #  ---- /Added line  ----------------------------------------

                '400':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/401ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '404':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/404ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '500':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/500ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

    /category-sub1-points/{category-sub1-point-id}:
        get:
            tags:
                - 'category sub1 points'
            description: Returns a category sub1 point follow category sub1 point id
            parameters:
                #  ----- Added line  ------------------------------------------
                - $ref: '#/components/parameters/CategorySub1PointId'
                - $ref: '#/components/parameters/PageSelect'
                - $ref: '#/components/parameters/PageRelations'
                #  ---- /Added line  ------------------------------------------
            responses:
                '200':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/200CategorySub1PointResponse'
                    #  ---- /Added line  ----------------------------------------

                '400':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/401ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '404':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/404ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '500':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/500ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

        put:
            tags:
                - 'category sub1 points'
            description: Replace a category sub1 point follow category sub1 point id
            requestBody:
                #  ----- Added line  ------------------------------------------
                $ref: '#/components/requestBodies/CategorySub1PointRequestBody'
                #  ---- /Added line  ------------------------------------------
            parameters:
                #  ----- Added line  ------------------------------------------
                - $ref: '#/components/parameters/CategorySub1PointId'
                #  ---- /Added line  ------------------------------------------
            responses:
                '200':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/200CategorySub1PointResponse'
                    #  ---- /Added line  ----------------------------------------

                '400':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/401ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '404':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/404ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '500':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/500ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

        patch:
            tags:
                - 'category sub1 points'
            description: Update some fields of category sub1 point follow category sub1 point id
            requestBody:
                #  ----- Added line  ------------------------------------------
                $ref: '#/components/requestBodies/CategorySub1PointRequestBody'
                #  ---- /Added line  ------------------------------------------
            parameters:
                #  ----- Added line  ------------------------------------------
                - $ref: '#/components/parameters/CategorySub1PointId'
                #  ---- /Added line  ------------------------------------------
            responses:
                '200':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/200CategorySub1PointResponse'
                    #  ---- /Added line  ----------------------------------------

                '400':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/401ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '404':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/404ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '500':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/500ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

        delete:
            tags:
                - 'category sub1 points'
            description: Delete a category sub1 point follow category sub1 point id
            parameters:
                #  ----- Added line  ------------------------------------------
                - $ref: '#/components/parameters/CategorySub1PointId'
                #  ---- /Added line  ------------------------------------------
            responses:
                '200':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/200CategorySub1PointResponse'
                    #  ---- /Added line  ----------------------------------------

                '400':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/401ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '404':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/404ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '500':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/500ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

    /categories-sub2:
        get:
            tags:
                - 'categories sub2'
            description: Returns a list of categories sub2
            parameters:
                #  ----- Added line  ------------------------------------------
                - $ref: '#/components/parameters/Page'
                - $ref: '#/components/parameters/PageTake'
                - $ref: '#/components/parameters/PageSkip'
                - $ref: '#/components/parameters/PageOrder'
                - $ref: '#/components/parameters/PageSelect'
                - $ref: '#/components/parameters/PageWhere'
                - $ref: '#/components/parameters/PageRelations'
                #  ---- /Added line  ------------------------------------------
            responses:
                '200':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/200CategorySub2ArrayResponse'
                    #  ---- /Added line  ----------------------------------------

                '400':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/401ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '404':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/404ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '500':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/500ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

        post:
            tags:
                - 'categories sub2'
            description: Create new a category sub2
            requestBody:
                #  ----- Added line  ------------------------------------------
                $ref: '#/components/requestBodies/CategorySub2RequestBody'
                #  ---- /Added line  ------------------------------------------
            responses:
                '200':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/200CategorySub2Response'
                    #  ---- /Added line  ----------------------------------------
                '400':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/401ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '404':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/404ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '500':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/500ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

    /categories-sub2/{category-sub2-id}:
        get:
            tags:
                - 'categories sub2'
            description: Returns a category sub2 follow category sub2 id
            parameters:
                #  ----- Added line  ------------------------------------------
                - $ref: '#/components/parameters/CategorySub2Id'
                - $ref: '#/components/parameters/PageSelect'
                - $ref: '#/components/parameters/PageRelations'
                #  ---- /Added line  ------------------------------------------
            responses:
                '200':
                    description: Successfully returned a category sub2 follow category sub2 id
                    content:
                        application/json:
                            schema:
                                #  ----- Added line  --------------------------------
                                $ref: '#/components/schemas/CategorySub2Response'
                                #  ---- /Added line  --------------------------------
                '400':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/401ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '404':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/404ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '500':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/500ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

        put:
            tags:
                - 'categories sub2'
            description: Replace a category sub2 follow category sub2 id
            requestBody:
                #  ----- Added line  ------------------------------------------
                $ref: '#/components/requestBodies/CategorySub2RequestBody'
                #  ---- /Added line  ------------------------------------------
            parameters:
                #  ----- Added line  ------------------------------------------
                - $ref: '#/components/parameters/CategorySub2Id'
                #  ---- /Added line  ------------------------------------------
            responses:
                '200':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/200CategorySub2Response'
                    #  ---- /Added line  ----------------------------------------

                '400':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/401ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '404':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/404ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '500':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/500ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

        patch:
            tags:
                - 'categories sub2'
            description: Update some fields of category sub2 follow category sub2 id
            requestBody:
                #  ----- Added line  ------------------------------------------
                $ref: '#/components/requestBodies/CategorySub2RequestBody'
                #  ---- /Added line  ------------------------------------------
            parameters:
                #  ----- Added line  ------------------------------------------
                - $ref: '#/components/parameters/CategorySub2Id'
                #  ---- /Added line  ------------------------------------------
            responses:
                '200':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/200CategorySub2Response'
                    #  ---- /Added line  ----------------------------------------

                '400':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/401ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '404':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/404ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '500':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/500ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

        delete:
            tags:
                - 'categories sub2'
            description: Delete a category sub2 follow category sub2 id
            parameters:
                #  ----- Added line  ------------------------------------------
                - $ref: '#/components/parameters/CategorySub2Id'
                #  ---- /Added line  ------------------------------------------
            responses:
                '200':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/200CategorySub2Response'
                    #  ---- /Added line  ----------------------------------------

                '400':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/401ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '404':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/404ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '500':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/500ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

    /categories-sub2/{category-sub1-id}:
        get:
            tags:
                - 'categories sub2'
            description: Returns a list of category sub2 follow category sub1 id
            parameters:
                #  ----- Added line  ------------------------------------------
                - $ref: '#/components/parameters/CategorySub1Id'
                - $ref: '#/components/parameters/PageSelect'
                - $ref: '#/components/parameters/PageRelations'
                #  ---- /Added line  ------------------------------------------
            responses:
                '200':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/200CategorySub2ArrayResponse'
                    #  ---- /Added line  ----------------------------------------

                '400':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/401ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '404':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/404ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '500':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/500ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

    /category-sub2-points:
        get:
            tags:
                - 'category sub2 points'
            description: Returns a list of category sub2 points
            parameters:
                #  ----- Added line  ------------------------------------------
                - $ref: '#/components/parameters/Page'
                - $ref: '#/components/parameters/PageTake'
                - $ref: '#/components/parameters/PageSkip'
                - $ref: '#/components/parameters/PageOrder'
                - $ref: '#/components/parameters/PageSelect'
                - $ref: '#/components/parameters/PageWhere'
                - $ref: '#/components/parameters/PageRelations'
                #  ---- /Added line  ------------------------------------------
            responses:
                '200':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/200CategorySub2PointArrayResponse'
                    #  ---- /Added line  ----------------------------------------

                '400':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/401ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '404':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/404ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '500':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/500ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

        post:
            tags:
                - 'category sub2 points'
            description: Create new a category sub2 point
            requestBody:
                #  ----- Added line  ------------------------------------------
                $ref: '#/components/requestBodies/CategorySub2PointRequestBody'
                #  ---- /Added line  ------------------------------------------
            responses:
                '200':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/200CategorySub2PointResponse'
                    #  ---- /Added line  ----------------------------------------

                '400':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/401ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '404':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/404ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '500':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/500ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

    /category-sub2-points/{category-sub2-point-id}:
        get:
            tags:
                - 'category sub2 points'
            description: Returns a category sub1 point follow category sub2 point id
            parameters:
                #  ----- Added line  ------------------------------------------
                - $ref: '#/components/parameters/CategorySub2PointId'
                - $ref: '#/components/parameters/PageSelect'
                - $ref: '#/components/parameters/PageRelations'
                #  ---- /Added line  ------------------------------------------
            responses:
                '200':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/200CategorySub2PointResponse'
                    #  ---- /Added line  ----------------------------------------

                '400':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/401ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '404':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/404ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '500':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/500ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

        put:
            tags:
                - 'category sub2 points'
            description: Replace a category sub2 point follow category sub2 point id
            requestBody:
                #  ----- Added line  ------------------------------------------
                $ref: '#/components/requestBodies/CategorySub2PointRequestBody'
                #  ---- /Added line  ------------------------------------------
            parameters:
                #  ----- Added line  ------------------------------------------
                - $ref: '#/components/parameters/CategorySub2PointId'
                #  ---- /Added line  ------------------------------------------
            responses:
                '200':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/200CategorySub2PointResponse'
                    #  ---- /Added line  ----------------------------------------

                '400':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/401ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '404':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/404ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '500':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/500ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

        patch:
            tags:
                - 'category sub2 points'
            description: Update some fields of category sub2 point follow category sub2 point id
            requestBody:
                #  ----- Added line  ------------------------------------------
                $ref: '#/components/requestBodies/CategorySub2PointRequestBody'
                #  ---- /Added line  ------------------------------------------
            parameters:
                #  ----- Added line  ------------------------------------------
                - $ref: '#/components/parameters/CategorySub2PointId'
                #  ---- /Added line  ------------------------------------------
            responses:
                '200':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/200CategorySub2PointResponse'
                    #  ---- /Added line  ----------------------------------------

                '400':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/401ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '404':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/404ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '500':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/500ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

        delete:
            tags:
                - 'category sub2 points'
            description: Delete a category sub2 point follow category sub2 point id
            parameters:
                #  ----- Added line  ------------------------------------------
                - $ref: '#/components/parameters/CategorySub2PointId'
                #  ---- /Added line  ------------------------------------------
            responses:
                '200':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/200CategorySub2PointResponse'
                    #  ---- /Added line  ----------------------------------------

                '400':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/401ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '404':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/404ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '500':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/500ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

    /hashtags:
        get:
            tags:
                - 'hashtags'
            description: Returns a list of hashtags
            parameters:
                #  ----- Added line  ------------------------------------------
                - $ref: '#/components/parameters/Page'
                - $ref: '#/components/parameters/PageTake'
                - $ref: '#/components/parameters/PageSkip'
                - $ref: '#/components/parameters/PageOrder'
                - $ref: '#/components/parameters/PageSelect'
                - $ref: '#/components/parameters/PageWhere'
                - $ref: '#/components/parameters/PageRelations'
                #  ---- /Added line  ------------------------------------------
            responses:
                '200':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/200HashtagArrayResponse'
                    #  ---- /Added line  ----------------------------------------

                '400':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/401ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '404':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/404ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '500':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/500ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

        post:
            tags:
                - 'hashtags'
            description: Create new a hashtag
            requestBody:
                #  ----- Added line  ------------------------------------------
                $ref: '#/components/requestBodies/HashtagRequestBody'
                #  ---- /Added line  ------------------------------------------
            responses:
                '200':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/200HashtagResponse'
                    #  ---- /Added line  ----------------------------------------

                '400':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/401ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '404':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/404ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '500':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/500ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

    /hashtags/{hashtag-id}:
        get:
            tags:
                - 'hashtags'
            description: Returns a hashtag follow hashtag id
            parameters:
                #  ----- Added line  ------------------------------------------
                - $ref: '#/components/parameters/HashtagId'
                - $ref: '#/components/parameters/PageSelect'
                - $ref: '#/components/parameters/PageRelations'
                #  ---- /Added line  ------------------------------------------
            responses:
                '200':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/200HashtagResponse'
                    #  ---- /Added line  ----------------------------------------

                '400':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/401ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '404':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/404ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '500':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/500ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

        put:
            tags:
                - 'hashtags'
            description: Replace a hastag follow hashtag id
            requestBody:
                #  ----- Added line  ------------------------------------------
                $ref: '#/components/requestBodies/HashtagRequestBody'
                #  ---- /Added line  ------------------------------------------
            parameters:
                #  ----- Added line  ------------------------------------------
                - $ref: '#/components/parameters/HashtagId'
                #  ---- /Added line  ------------------------------------------
            responses:
                '200':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/200HashtagResponse'
                    #  ---- /Added line  ----------------------------------------

                '400':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/401ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '404':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/404ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '500':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/500ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

        patch:
            tags:
                - 'hashtags'
            description: Update some fields of hashtag follow hashtag id
            requestBody:
                #  ----- Added line  ------------------------------------------
                $ref: '#/components/requestBodies/HashtagRequestBody'
                #  ---- /Added line  ------------------------------------------
            parameters:
                #  ----- Added line  ------------------------------------------
                - $ref: '#/components/parameters/HashtagId'
                #  ---- /Added line  ------------------------------------------
            responses:
                '200':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/200HashtagResponse'
                    #  ---- /Added line  ----------------------------------------

                '400':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/401ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '404':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/404ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '500':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/500ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

        delete:
            tags:
                - 'hashtags'
            description: Delete a hashtag follow hashtag id
            parameters:
                #  ----- Added line  ------------------------------------------
                - $ref: '#/components/parameters/HashtagId'
                #  ---- /Added line  ------------------------------------------
            responses:
                '200':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/200HashtagResponse'
                    #  ---- /Added line  ----------------------------------------

                '400':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/401ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '404':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/404ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

                '500':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/500ErrorResponse'
                    #  ---- /Added line  ----------------------------------------

    /hashtags/{post-product-id}:
        get:
            tags:
                - 'hashtags'
            description: Returns a list of hashtags follow post product id
            parameters:
                #  ----- Added line  ------------------------------------------
                - $ref: '#/components/parameters/PostProductId'
                - $ref: '#/components/parameters/PageSelect'
                - $ref: '#/components/parameters/PageRelations'
                #  ---- /Added line  ------------------------------------------
            responses:
                '200':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/200HashtagArrayResponse'
                    #  ---- /Added line  ----------------------------------------

                '400':
                    #  ----- Added line  ----------------------------------------
                    $ref: '#/components/responses/401ErrorResponse'
[...]
